@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";

@mixin pagination {
  margin: 1em 2em;
  @include clearfix;
  span, a, em {
    display: none;
  }
  .previous_page, .next_page {
    @include inline-block;
  }
  .previous_page {
    @include float-left;
  }
  .next_page {
    @include float-right;
  }
  .disabled {
    display: none;
  }
}
