@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

.comments {
  margin-top: 2em;
  .comment {
    background-color: #eee;
    padding: 1em 1em 0 1em;
    margin: 1em 0;
    @include clearfix;
    @include border-radius(1em);
    p.info {
      @include float-right;
      clear: both;
    }
    img.user-avatar {
      @include float-right;
      padding: 0.1em;
      border: 1px solid #eee;
      margin: 0.5em 0 0.5em 2em;
    }
  }
}
