@import "compass/utilities/general/float";
@import "compass/utilities/lists/bullets";
@import "compass/utilities/links/hover-link";
@import "compass/utilities/links/link-colors";

body #container a {
  @include hover-link;
}
#header {
  h1 {
    @include float-left;
    padding: 1em 0;
    a {
      @include link-colors(#005476);
    }
  }
  .nav {
    @include float-right;
    ul {
      @include no-bullets;
      padding: 3em 0 0 0;
      li {
        @include float-left;
        margin-left: 10px;
        a {
          padding: 0 0.5em;
          font-size: 1.25em;
          @include link-colors(#003276);
        }
      }
    }
  }
}
#footer {
  border-top: 0.2em solid #999;
}
