@import "blueprint";
@import "compass/utilities/lists/bullets";
@import "compass/utilities/links/hover-link";
@import "compass/utilities/links/link-colors";
@import "compass/utilities/general/float";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";
@import "compass/css3/inline-block";

body.bp {
  background-color: #EEE;
  color: #111;
  #container a {
    @include hover-link;
    @include link-colors(#2276BB);
    &:hover {
      text-decoration: none;
    }
  }
  a {
    border: none;
    outline: none;
  }
}
#header {
  margin: 2em 0;
  > h1 {
    @include column(9);
    a {
      @include link-colors(#111);
      font-weight: bold;
    }
  }
  .desc {
    @include column(6);
    margin-top: 1em;
    p {
      margin: 0;
      color: #2276BB;
      font-weight: bold;
    }
  }
  .nav {
    background-color: #fff;
    padding: 1em 0;
    @include column(9);
    @include last;
    @include border-radius(1em);
    ul {
      @include float-right;
      @include no-bullets;
      margin: 0 1em;
      padding: 0;
      li {
        @include float-left;
        @include border-top-left-radius(0.5em);
        @include border-top-right-radius(0.5em);
        a {
          font-size: 1.25em;
          padding: 0 0.5em;
          line-height: 2em;
          @include inline-block;
          &.highlight {
            background-color: #fff;
            font-weight: bold;
            @include link-colors(#FFCC00);
          }
        }
      }
    }
  }
}
.flash {
  @include column(24);
}
#content, #sidebar {
  background-color: #fff;
  @include border-radius(0.5em);
  > h2 {
    margin: 0.5em 1em;
  }
}
#sidebar {
  h3 {
    margin: 0.5em;
  }
  ul {
    padding: 0;
    margin: 1em;
    @include no-bullets;
    li {
      a {
        font-size: 1.2em;
      }
    }
  }
}
#footer {
  border-top: 0.2em solid #999;
  margin: 2em 0;
}
