@import "partials/pagination";
@import "partials/wikistyle";
@import "compass/utilities/general/float";
@import "compass/css3/inline-block";

.posts {
  margin: 0 2em;
  &.archive .post {
    min-height: 10px
  }
  .post {
    margin: 1em 0;
    min-height: 40px;
    .title {
      font-size: 1.2em;
    }
  }
}
.post {
  margin: 0 2em 1em;
  .vote-info, .post-info {
    @include float-left;
  }
  .like-icon, .unlike-icon, .like-icon.active, unlike-icon.active {
    border: none;
    display: block;
    text-indent: 9999px;
    cursor: pointer;
  }
  .vote-info p {
    width: 40px;
    font-size: 2em;
    text-align: center;
    margin: 0;
  }
  img.user-avatar {
    margin: 0 0.2em;
  }
  .tags {
    font-size: 1.2em;
  }
  .command {
    @include float-right;
    margin: 0 2em 0 0;
    a {
      @include inline-block;
      font-size: 1.2em;
    }
  }
  .comments {
    margin-top: 2em;
    .comment {
      @include clearfix;
      p.info {
        @include float-right;
        clear: both;
      }
    }
  }
}
.posts .post, .comments .comment {
  img.user-avatar {
    @include float-right;
    padding: 0.1em;
    border: 1px solid #eee;
    margin: 0.5em 0 0.5em 2em;
  }
}
div.ac_results ul {
  margin: 0;
  padding: 0;
}

.pagination {
  @include pagination;
}

body.bp, body.bp form.formtastic {
  .wikistyle {
    @include wikistyle;
  }
}  
body.bp form.formtastic .wmd-preview {
  border: 1px dotted #111;
  min-height: 2em;
}
