= f.inputs do
  = f.input :user_id, :as => :hidden, :value => current_user.id
  = f.input :body, :label => 'Content'
  .wmd-preview.wikistyle
:javascript
  wmd_options = {"output": "Markdown"};
= javascript_include_tag 'wmd'
